<!-- <p>table works!</p> -->


<p-table #dt [columns]="cols" [value]="releases">
    <ng-template pTemplate="caption">
        <div style="text-align: right">
        <input
            type="text"
            pInputText
            size="50"
            placeholder="Global Filter"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
        />
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.fields" [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon
            [field]="col.field"
            ariaLabel="Activate to sort"
            ariaLabelDesc="Activate to sort in descending order"
            ariaLabelAsc="Activate to sort in ascending order"
            ></p-sortIcon>
        </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns" [ngSwitch]="col.field">
            <span *ngSwitchCase="'releasedate'">
            {{ rowData[col.field] }}
            </span>
            <span *ngSwitchDefault>
            {{ rowData[col.field] }}
            </span>
        </td>
        </tr>
    </ng-template>
</p-table>